body {
  background-color: #323342;
  color: #f4f1fd;
  font-family: "Courier Prime", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  color: #dacff8;
  font-family: "Noto Sans", sans-serif;

  a {
    color: #f4f1fd;
  }
}

a {
  color: #dacff8;
}

.switch {
  #on-state {
    display: none;
  }
  #off-state {
    display: block;
  }

  &.on {
    #on-state {
      display: block;
    }
    #off-state {
      display: none;
    }
  }
}

/* Light Mode Styles */
.light-mode {
  background-color: #f4f1fd;
  color: #323342;

  a {
    color: #323342;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #323342;

    a {
      color: #323342;
    }
  }
}
